<br><br>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" >
    <div class="mb-3">
        <label for="nome" class="form-label" style="font-weight: bold;">Nome</label>
        <input type="text" name="nome" class="form-control" [class.is-invalid]="!nome.valid && nome.touched" id="nome" placeholder="Insira seu nome" [(ngModel)]="usuario.nome" required #nome="ngModel">
        <!-- <div>
            {{ nome.className }}
        </div> -->
        <div class="invalid-feedback">
            O campo nome é obrigatório.
        </div>
    </div>
    <br>

    <div class="mb-3">
        <label for="email" class="form-label" style="font-weight: bold;">E-mail</label>
        <input type="email" name="email" class="form-control" [class.is-invalid]="!nome.valid && nome.touched" id="email" placeholder="Insira seu e-mail (Ex: usuario@hotmail.com)" 
        [(ngModel)]="usuario.email" required email>
        <div class="invalid-feedback">
            O campo e-mail é obrigatório.
        </div>
    </div>
    <br>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>