<br><br>
<form>
    <div class="mb-3">
        <label for="nome" class="form-label" style="font-weight: bold;">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Insira seu nome">
    </div>
    <br>

    <div class="mb-3">
        <label for="email" class="form-label" style="font-weight: bold;">E-mail</label>
        <input type="email" class="form-control" id="email" placeholder="Insira seu e-mail (Ex: usuario@hotmail.com)">
    </div>
    <br>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>