<p fundoAmarelo>
    Texto com fundo amarelo
</p>

<button fundoAmarelo>Botão com fundo amarelo.</button>

<p highlightMouse>
    Texto com highlight quando passo o mouse.
</p>
<br>

<h5>Cores customizadas</h5>

<input type="color" class="form-control form-control-color" #color>

<p [highlight]="'selectColor(color.value)'" [defaultColor]="'grey'">
    Highlight com cores customizadas.
</p>

<h5>ng-Else</h5>

<div *ngIf="cursosProg" >
    Lista de cursos de programação:
    HTML, JavaScript, CSS.
</div>

<div *ngElse="cursosProg" >
    Lista de cursos de programação:
    Não existem cursos para serem listados.
</div>

<br>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<br>

